@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&family=Shrikhand&display=swap');

html {   
    /* Set border-box as the global default */
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  *, *:before, *:after {
    /* Allow each element to override */
    box-sizing: inherit;
  }

* {
    font-family: 'Roboto', sans-serif;
}

/* 
$primary-color: #9356DC
$secondary-color: #FF79DA
$tertiary-color: #99E2D0
convention d'écriture : english-lang-naming 
/!\ penser à placer du
class="bolder-roboto" aprrès importation 3è police
*/

body {
  width: 100%;
  margin: auto;
}

.logo-title-font {
  font-family: 'Shrikhand', cursive;
  font-weight: bold;
  line-height: normal;
  font-size: 2.0rem;
  line-height: 0;
}

#header__header {
  position: relative;
}

#header__header a {
  position: absolute;
  bottom: -1rem;
}

#header__header div {
  text-align: center;
}

header a {
  text-decoration: none;
  color: black;
}

header i {
    font-size: 30px;
    margin-left: 15px;
}

#section-main {
  background-color: #f6f6f6;
}

#section-main__div-image {
  position: relative;
  width: 100%;
  height: 400px;
  z-index: 0;
}

#section-main__div-image img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  
  /* position: 0px -50px 0px 50px; */
}

h2 {
  font-family: 'Shrikhand', cursive;
  font-size: 2rem;
  padding-left: 10px;
}

#h2-header {
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding-left: 2.5%;
  margin-top: -30px;
  background-color: #f6f6f6;
  z-index: 3;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding-top: 1px;
}

#h2-header h2 {
  font-size: 1.5rem;
  line-height: 30px;
}

.hearty {
  position: absolute;
  right: 20px;
  top: 1.5rem;
  cursor: pointer;
}

.far {
  display: block;
  position: relative;
  font-size: 25px;
  overflow: hidden;
  cursor: pointer;
}
.fascicule {
  position: absolute;
  top: 21.25px;
  left: 12.5px;
  font-size: 0px;
  transition: top 0.5s, font-size 0.5s, left 0.5s;
  background: linear-gradient(to bottom, #9356DC 0%,#FF79DA 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.hearty:hover .fascicule {
  top: 2px;
  font-size: 21px;
  left: 2px;
}

/*  CODE POUR CHANGEMENT OPACITE DE SVG/INACTIF SUR TAB ET MOBILE
.fa_heart {
  position: relative;
  font-size: 2rem;
}

.hearty:active .fas {
  opacity: 1;
  cursor: pointer;
}

.fas {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
} */

.bloc-1title3choices {
  padding-bottom: 15px;
  position: relative;
}

.bloc-1title3choices h3 {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 2.5%;
  padding-left: 10px;
}

.bottom-line {
  padding-bottom: 3px;
  border-bottom: solid 3px grey;
}

.blocky {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
  background-color: white;
  margin-top: 5px;
  margin-bottom: 15px;
  box-shadow: 0px 8px 24px rgb(33,74,115, 0.25);
  
}

.entrees {
  animation: fadeinentrees 2s;
  
}

.plats {
  animation: fadeinplats 2s ;
  
}

.desserts {
  animation: fadeindesserts 2s ;

}


@keyframes fadeinentrees {
  0% {
      opacity:0;
      padding-top: 5px;

  }
  
  100% {
      opacity:1;
      padding-top: 0px;
  }
}

@keyframes fadeinplats {
  0% {
      opacity:0;
      margin-top: 5px;

  }

  50% {
    opacity:0;
    margin-top: 5px;
  }

  100% {
      opacity:1;
      margin-top: 0px;
  }
}

@keyframes fadeindesserts {
  0% {
      opacity:0;
      margin-top: 5px;

  }

  50% {
    opacity:0;
    margin-top: 5px;

  }

  75% {
    opacity:0;
    margin-top: 5px;
  }

  100% {
      opacity:1;
      margin-top: 0px;
  }
}

.plate-description {
  line-height: 1rem;
  /* min-width: calc(100%-170px);
  width: calc(100%-50px); */
  width: 80%;
  padding-left: 10px;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  overflow: hidden;
}

.plate-description p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

}

.price {
  bottom: 0.15rem;
  right: 0px;
  width: 50px;
  font-weight: 900;
  align-self: flex-end;
}

.blocky:hover {
  cursor: pointer;
}


.blocky:hover .blocky__transition {
  margin-right: 0px;
}

.blocky:hover .blocky__transition__icon{
  transform: rotate(-360deg);
}

.blocky__transition {
  height: auto;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100px;
  margin-right: -100px;
  transition: margin-right 400ms ease-in-out;
}

.blocky__transition__icon {
  fill: white;
  transform: rotate(0deg);
  transition: transform 400ms ease-in-out;
  width: 35%;
}

strong { 
  font-size: 1.25rem;
}

#button-div:active button:active {
  background: linear-gradient(hsl(317, 100%, 84%), hsl(267, 66%, 70%));
  box-shadow: 6px 6px 8px 2px grey;
}

#button-div{
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 60px;
}

button {
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: #FF79DA;
  color: white;
  font-weight: 1000;
  border-radius: 100px;
  border: none;
  box-shadow: 0px 2px 10px 2px #f6f6f6;
  background: linear-gradient(hsl(317, 100%, 74%), hsl(267, 66%, 60%));
  transition: box-shadow 0.3s, background 0.3s;
  font-size: 1.2rem;
  margin-bottom: 30px;
}

/* .linear-gradient {
  background: linear-gradient(hsl(317, 100%, 74%), hsl(267, 66%, 60%));
} */

footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(29, 49, 49);
  color: white;
  padding-left: 15px;
}

ul {
  padding-left:0;
}

li {
  list-style:none;
}

footer p {
  font-family: Shrikhand;
  line-height: 0.01rem;
}

footer i {
  width: 25px;
  font-size: 0.7rem;
}

footer div {
  margin-top: 20px;
}

.contact {
  text-decoration: none;
  color: white;
}

/* Style tablette*/
@media (min-width: 768px) {

  #header__header i {
    font-size: 3rem;
  }

  #header__header p {
    font-size: 4rem;
  }

  main, footer {
    margin-right: 5%;
    margin-left: 5%;
  }

  #section-main__div-image {
    height: 300px;
  }

  #section-main__div-image img {
    height: 100%;
    object-fit: cover;
  }

  #h2-header {
    text-align: center;
    
  }

  #h2-header h2 {
    font-size: 2rem;
  }

  .hearty {
    right: 60px;
    top: 0.7rem;
  }

  .far {
    display: block;
    position: relative;
    font-size: 50px;
    overflow: hidden;
    cursor: pointer;
  }
  .fascicule {
    position: absolute;
    top: 42.5px;
    left: 25px;
    font-size: 0px;
    transition: top 0.5s, font-size 0.5s, left 0.5s;
    background: linear-gradient(to bottom, #9356DC 0%,#FF79DA 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  .hearty:hover .fascicule {
    top: 4px;
    font-size: 42px;
    left: 4px;
  }

  .price {
    padding-right: 10px;
  }

  .bloc-1title3choices__choices {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
  }

  .bloc-1title3choices__h3 {
    text-align: center;
  } 

  .entreesLaNoteEnchantee .blocky {
    width: 40%;
  }

  .blocky p {
    font-size: 0.8rem;
  }

  .blocky {
    height: 100px;
    width: 30%;
    margin: auto;
  }

}

/* Style desktop*/
@media (min-width: 992px) {
  main, footer {
    margin-right: 3%;
    margin-left: 3%;
  }

  #h2-header h2 {
    font-size: 2.5rem;
  }

  .hearty {
    top: 1.2rem;
  }

}



/* mettre l'image entre entrée et plats */

/* #section-main {
  display: flex;
  flex-direction: column;

}

#section-main__div-image {
  order: 1;
} */



