html {   
    /* Set border-box as the global default */
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    /* Allow each element to override */
    box-sizing: inherit;
  }

* {
    font-family: 'Roboto', sans-serif;
}

.logo-title-font {
    font-family: 'Shrikhand', cursive;
}

/* 
$primary-color: #9356DC
$secondary-color: #FF79DA
$tertiary-color: #99E2D0
*/