@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&family=Shrikhand&display=swap');

html {   
    /* Set border-box as the global default */
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    /* Allow each element to override */
    box-sizing: inherit;
  }

* {
    font-family: 'Roboto', sans-serif;
}

/* 
$primary-color: #9356DC
$secondary-color: #FF79DA
$tertiary-color: #99E2D0
convention d'écriture : english-lang-naming 
/!\ penser à placer du
class="bolder-roboto" aprrès importation 3è police
*/

/* --- code pour la page d'accueil --- */

body {
  width: 100%;
  margin: auto;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  position: relative;
  padding-top: 200px;
  margin: auto;
  animation: ciaoSpinner 5s;
}

.loading-spinner {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 8px solid #9356DC;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spinnerExt 1.5s linear infinite;
}

.loading div:nth-child(2) {
  width: 80%;
  height: 80%;
  border: 8px solid #FF79DA;
  border-bottom-color: transparent;
  animation: spinnerInt 1.5s linear infinite;
}

@keyframes spinnerExt {
  0% {transform: rotate(0deg); width: 100%; height: 100%}
  50% {transform: rotate(-180deg); width: 50%; height: 50%}
  100% {transform: rotate(-360deg); width: 100%; height: 100%}
}

@keyframes spinnerInt {
  0% {transform: rotate(0deg); width: 80%; height: 80%}
  50% {transform: rotate(180deg); width: 40%; height: 40%}
  100% {transform: rotate(360deg); width: 80%; height: 80%}
}

#container {
  height: 100px;
  animation: fadein 5s;
  -moz-animation: fadein 5s; /* Firefox */
  -webkit-animation: fadein 5s; /* Safari et Chrome */
}

@keyframes fadein {
  0% {opacity: 0}
  60% {opacity: 0}
  100% {opacity: 1}
}

@keyframes ciaoSpinner {
  from {
    opacity:1;
    }
  to {
      opacity:0;
    }
}

/* @-moz-keyframes fadein { 

@-webkit-keyframes fadein { 
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
} */

.logo-title-font {
  font-family: 'Shrikhand', cursive;
  font-weight: bold;
  line-height: normal;
  font-size: 3.0rem;
  line-height: 0;
}

.logo-justify {
  text-align: center;
}

#section-position {
  display: inline-block;
  text-align: center;
  background-color: #f6f6f6;
}

#position {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  box-shadow: 0px -1px 6px -4px black;
}
/* 
$primary-color: #9356DC
$secondary-color: #FF79DA
$tertiary-color: #99E2D0 */

#position i {
  font-size: 1.2rem;
  padding-bottom: 5px;
}

#position p {
  font-size: 1.2rem;
  margin-left: 20px;
}

h1 {
  font-size: 2rem;
  width: 80%;
  margin: auto;
  padding-top: 26px;
}

section div + div p {
  font-size: 1.2rem;

}

.button {
  padding: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #FF79DA;
  color: white;
  font-weight: 1000;
  border-radius: 100px;
  border: none;
  box-shadow: 0px 2px 10px 2px gray;
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.linear-gradient {
  background: linear-gradient(#FF79DA, #9356DC);
}

main section + section {
  margin-top: 30px;

}

#section-fonctionnement{
  width: 95%;
  margin: auto;
}

.card-notice-P1 {
  height: 65px;
  border-radius: 20px;
  margin-left: 10px;
  margin-bottom: 25px;
  font-size: 0.9rem;
  background-color: #f6f6f6;
}

.card-notice-P1 p, .card-notice-P1 i {
  display: inline-block;  
  margin-right: 20px;
}

.card-notice-P1 i {
  color: black;
  font-size: 1.2rem;
  padding-right: 10px;
}

.card-notice-P1 p {
  font-weight: 1000;
}

.notice-text{
  font-size: 1.2rem;
  display: none;
  padding-right: 10px;
  
}

.reso-bug {
  margin-left: -10px;
}

#restau_section {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
}

.float {
  position: relative;
  width: 26px;
  height: 25px;
  margin-left: -13px;
  background-color: #9356DC;
  color: white;
  border-radius: 30px;
  font-size: 0.9rem;
  text-align: center;
  padding-top: 3px;
  font-weight: bolder;
}

.svg {
  position: relative;
  right: 3px;
  height: 25px;
  margin-right: 25px;
  margin-bottom: -5px;
}

.tel {
  position: relative;
  top: 11px;
  right: 10px;
  height: 35px;
  margin-right: 25px;
}

#restau_section h2 {
  padding-left: 2.5%;
}

.card-menu-p1 {
  border-radius: 10px ;
  width: 95%;
  margin: auto;
  margin-bottom: 16px;
  background-color: white;
  color: black;
  text-decoration: none;
}

.card-menu-p1:first-child {
  width: 100%;
  margin: auto;
  border-radius: 10px;
}

.description-card-menu-p1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
  margin-left: 10px;
  background-color: white; 
}

.description-card-menu-p1 i {
  font-size: 2rem;
}

.card-menu-p1 img {
  object-fit: cover;
  width: 100%;
  height: 180px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-menu-p1__div_image{
  position: relative;
}

.floaty {
  position: absolute;
  right: 25px;
  top: 25px;
  max-width: fit-content;
  background-color: #99E2D0;
  border-radius: 5px;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bolder;
  color: #109171;
}

.pas-afficher {
  display: none;
}

.shadow {
  box-shadow: 0px 8px 24px rgb(33,74,115, 0.22);
}

a {
  box-shadow: 0px 8px 24px rgb(33,74,115, 0.22);
}

footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(29, 49, 49);
  color: white;
  padding-left: 15px;
}

ul {
  padding-left:0;
}

li {
  list-style:none;
}

footer p {
  font-family: Shrikhand;
  line-height: 0.01rem;
}

footer i {
  width: 25px;
  font-size: 0.7rem;
}

footer div {
  margin-top: 20px;
}

/* shift+f6 pour mesurer les pixels */